@using Frontec.Models;
@page "/stores-over-threshold"
@inject HttpClient Http
<summary>
    Компонент страницы "Магазины отсортированные по выручке".
    Загружает данные с backend API (api/products/expired), преобразует их в DTO,
    и отображает в виде таблицы.
</summary>
<h3>магазины по выручке</h3>

@if (products is null)
{
    <p><em>Загрузка...</em></p>
}
else
{
    <ul>
        @foreach (var p in products)
        {
            <li>@p.Name — @p.ExpirationDate.ToShortDateString() — @p.StoreName</li>
        }
    </ul>
}

@code {
    List<ExpiredProductDto>? products;

    protected override async Task OnInitializedAsync()
    {
        products = await Http.GetFromJsonAsync<List<ExpiredProductDto>>("http://localhost:5041/api/products/expired");
    }
}